---
title: About
layout: default
---
<div id="photo-well" class="pull-right well container">
  <img alt="photo" src="{{site.baseurl}}/assets/images/jwvdm_coffee.jpg">
  <div>
    {% capture contact %}{% include contact.md %}{% endcapture %}
    {{ contact | markdownify }}
  </div>
</div>
<div>
  <h1>
    NEWS
  </h1>
  {% capture news %}{% include news.md %}{% endcapture %}
  {{ news | markdownify }}

  <h1>
    ABOUT
  </h1>
  {% capture bio %}{% include bio.md %}{% endcapture %}
  {{ bio | markdownify }}
</div>
